@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    /* background-color: var(--color-8); */
}
header{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;

}
.header__logo{
    /* background: blue; */
}
.header__logo img{

}
.header__nav{
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}
.header__nav li{
    list-style: none;
}
.header__nav li a{
    font-family: "Poppins-SemiBold";
    color: var(--color-1);
    text-decoration: none;
    font-size: 28px;
    display: flex;
}
.header__nav li a img{

}
.header__menu{
    /* background: violet; */
}
.header__menu img{

}

main{
    /* background: green; */
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.section__container{
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
}

.article__jumping{
    width: 679px;
    /* background: violet; */
    display: flex;
    flex-direction: column;
}
.article__jumping h1{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    font-size: 120px;
    line-height: 91.4%;
}
.article__jumping p{
    margin-top: 26px;
    font-family: "Poppins-Medium";
    font-size: 24px;
    color: var(--color-6);
    line-height: 123%;
}
.div__buttons{
    margin-top: 26px;
    /* background: rebeccapurple; */
    display: flex;
    gap: 38px;
    
}
.div__buttons a{
    width: 264px;
    height: 86px;
    border-radius: 14px;
    outline: 1px solid var(--color-1);
    background: transparent;
    font-family: "Poppins-Thin";
    font-size: 32px;
    font-weight: 900;
    color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div__buttons:hover a:hover{
    outline: none;
    backdrop-filter: blur(24px);
}



.article__reviews {
    /* background: red; */
    padding: 20px;
}
.div__reviews-container {
    width: 345px;
    height: 202px;
    background: var(--color-1);
    border-radius: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div__reviews-cards {
    /* background: green; */
    /* padding: 20px; */
}
.div__reviews-profile {
    /* background: violet; */
    /* padding: 20px; */
    gap: 16px;
    display: flex;
}
.div__reviews-profile img {
    /* background: orange; */
    object-fit: contain;
    /* padding: 20px; */
}
.div__reviews-cards p{
    font-family: "Poppins-Medium";
    text-align: justify;
    margin-top: 12px;
    font-size: 18px;
    color: var(--color-7);
    width: 277px;
    
}
.div__reviews-rating {
    /* background: yellow; */
    /* padding: 20px; */
}
.div__reviews-rating h3{
    color: var(--color-2);
    font-family: "Poppins-Medium";
    font-size: 28px;
}
.div__reviews-stars {
    /* background: olive; */
    /* padding: 20px; */
}
.div__reviews-stars img{
    /* background: turquoise; */
    padding: 0;


}


.div__icons{
    margin-top: 40px;
}
.div__icons h3{
    font-family: "Poppins-Medium";
    color: var(--color-1);
    font-size: 18px;
}

.div__icons-img{
    margin-top: 26px;
    /* background: rebeccapurple; */
    display: flex;
    gap: 38px;
    
}
.div__icons-img a{
    width: 60px;
    height: 60px;
    border-radius: 14px;
    outline: 1px solid var(--color-1);
    color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.div__icons-img a img {
    width: 60%; 
    height: 60%;
    object-fit: contain; 
}

.div__icons-img a:hover {
    outline: none;
    backdrop-filter: blur(24px);
}



.section__trending {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.div__trending {
    background: white;
    display: flex;
    border-radius: 30px;
    position: relative;
    left: 87%;
    width: 9%;
    height: 3%;
    align-items: center;
}
.div__trending a{
    position: relative;
    left: 10%;
    text-decoration: none;
    font-family: "Poppins-Medium";
    color: #000000;
}
.div__trending img{
    position: relative;
    width: 20%;
    height: 40%;
    left: 12%;
    margin-bottom: 7px;
}
.div__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    gap: 20px;
    justify-content: center;

}
.div__container-article {
    background: transparent;
    width: 45%;
    display: flex;
    height: 250px;
    border-radius: 30px;
    border: 2px solid white;
}

.div__container-article img{
    width: 40%;
    align-self: center;
    padding-top: 60px;
}
.article__container{
    display: flex;
    width: 47%;
    margin-left: 50px;
    flex-direction: column;
}
.article__container h2{
    font-family: "Poppins-Medium";
    color: var(--color-1);
    font-size: 110%;
    margin-top: 50px;
}
.div__box {
    margin-top: 18px;
    width: 100%;
    height: 25%;
}
.div__box span{
    color: var(--color-1);
    font-family: "Poppins-Medium";
    font-size: 80%;
}
.div__box div{
    margin-top: 10px;
    display: flex;
    width: 90%;
    height: 50%;
    gap: 10%;
}
.div__box div button{
    color: var(--color-1);
    background: transparent;
    border-color: var(--color-1);
    width: 40%;
    height: 75%;
    font-family: "Poppins-Regular";
    font-size: 65%;
    border-radius: 6px;
}
.div__container-button-complete{
    display: flex;
    height: 20%;
    margin-top: 11px;
}
.div__container-button-complete span{
    font-family: "Poppins-Regular";
    color: var(--color-1);
    font-size: 15px;
}
.div__container-button {
    border: 2px solid var(--color-1);
    display: flex;
    width: 27%;
    height: 50%;
    position: relative;
    left: 28%;
    gap: 8px;
    border-radius: 6px;
}
.div__container-button button{
    color: var(--color-1);
    background: transparent;
    border-left: 1px solid var(--color-1); 
    border-right: 1px solid var(--color-1);
    padding: 3px;
    border-radius: 6px;
    font-family: "Poppins-Regular";
    font-size: 11px;
}