@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-8);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
}

.header__logo{
}

.header__logo img{

}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}

.header__nav li{
    list-style: none;
}

.header__nav li a{
    text-decoration: none;
    font-family: "Poppins-SemiBold";
    color: var(--color-1);
    font-size: 28px;
    display: flex;
}
.header__nav li a img{

}

.header__menu{
}

.header__menu img{

}