:root{
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #FFD600;
    --color-4: hsla(0, 0%, 100%, 0.150);
    --color-5: hsla(0, 0%, 0%, 0.150);
    --color-6: hsla(0, 0%, 100%, 0.750);
    --color-7: hsla(0, 0%, 0%, 0.750);
    --color-8: #E96C7D;
    --color-9: rgba(255, 255, 255, 0.500);
    --color-10: hsla(0, 0%, 100%, 0.250);
    --color-11: hsla(0, 0%, 100%, 0.100);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../storage/font/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../storage/font/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-Thin";
    src: url(../storage/font/Poppins/Poppins-Thin.ttf);
}